body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.home {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #2E8FE9);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-content {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 600px;
}

.home-buttons .button {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    width: 150px;
    background-color: #2E8FE9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.home-buttons .button:hover {
    background-color: #0056b3;
}