body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

/* Main container for the home page */
.home {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #2E8FE9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Styling for the content within the home page */
.home-content {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #2E8FE9;
    color: #000000; 
    font-style: italic;
}

/* Styling for the buttons within the home page */
.home-buttons .button {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    width: 150px;
    background-color: #2E8FE9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
}

/* Hover effect for the buttons */
.home-buttons .button:hover {
    background-color: #0056b3;
}