.login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #2E8FE9);
    height: 100vh;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #2E8FE9;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #2E8FE9;
    border-radius: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 16px;
    margin-top: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #2E8FE9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #2E8FE9;
}

.toggle-button {
    width: 100%;
    padding: 10px;
    background-color: #2E8FE9;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-button:hover {
    background-color: #2E8FE9;
}