body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.login-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #2E8FE9);
    height: 100vh;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-button {
    width: 48%;
    padding: 10px;
    background-color: #2E8FE9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.toggle-button.active {
    background-color: white;
    color: #2E8FE9;
    border: 1px solid #2E8FE9;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 400;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #2E8FE9;
    border-radius: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.button {
    width: 80%;
    padding: 10px;
    background-color: #2E8FE9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}