body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: 'Arial', sans-serif;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #2E8FE9);
    min-height: 100vh;
}

.profile-container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.button, .delete-button, .logout-button {
    width: 80%;
    padding: 10px;
    background-color: #2E8FE9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.logout-button, .delete-button {
    width: 48%;
    padding: 10px;
    font-size: 14px;
}

.delete-button {
    background-color: red;
    margin-right: 2%;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
}

.delete-button:hover {
    background-color: darkred;
}

.logout-button:hover {
    background-color: #0056b3;
}

.button:hover {
    background-color: #0056b3;
}

.past-sessions-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.past-sessions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.past-sessions-table th, .past-sessions-table td {
    border: 1px solid #2E8FE9;
    padding: 8px;
    text-align: center;
}

.past-sessions-table th {
    background-color: #2E8FE9;
    color: white;
}

.past-sessions-table td {
    background-color: white;
    color: #333;
}