.type-tutor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom right, white, #2E8FE9);
    height: 100vh;
}

.difficulty-selector {
    margin-bottom: 20px;
}

.difficulty-selector label {
    font-size: 1.2em;
    margin-right: 10px;
}

.difficulty-selector select {
    padding: 5px;
    font-size: 1em;
}